<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{site.title}} - {{ page.title }}</title>
        <meta name="description" content="{{ site.description  }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{site.url}}/assets/css/styles.css" rel="stylesheet"/>
    </head>
    <body>
        <div id="content">
            {{ content }}
        </div>
    </body>
</html>
