<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{site.title}} - {{ page.title }}</title>
        <meta name="description" content="{{ site.description  }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{site.url}}/assets/css/styles.css" rel="stylesheet"/>
    </head>
    <body>
        <div id="content">
            {{ content }}
        </div>
        <footer>
            <div class="footer-content">
                <!-- Centered container for badges -->
                <div class="badges" style="text-align: center; padding: 20px;">
                    <!-- GitHub Repo Badge -->
                    <a href="https://github.com/boostsecurityio/lotp" title="Go to GitHub repo">
                        <img src="https://img.shields.io/static/v1?label=boostsecurityio&message=lotp&color=blue&logo=github" alt="boostsecurityio - lotp">
                    </a>
                    <!-- Stars Badge -->
                    <a href="https://github.com/boostsecurityio/lotp">
                        <img src="https://img.shields.io/github/stars/boostsecurityio/lotp?style=social" alt="stars - lotp">
                    </a>
                    <!-- Forks Badge -->
                    <a href="https://github.com/boostsecurityio/lotp">
                        <img src="https://img.shields.io/github/forks/boostsecurityio/lotp?style=social" alt="forks - lotp">
                    </a>
                    <!-- Issues Badge -->
                    <a href="https://github.com/boostsecurityio/lotp/issues">
                        <img src="https://img.shields.io/github/issues/boostsecurityio/lotp" alt="issues - lotp">
                    </a>
                    <!-- License Badge -->
                    <a href="https://github.com/boostsecurityio/lotp#license">
                        <img src="https://img.shields.io/badge/License-Apache_2.0-blue.svg" alt="License">
                    </a>
                </div>
                <!-- Additional Footer Content -->
                <div class="additional-content" style="text-align: center; padding-bottom: 20px;">
                    <p>The Living Off The Pipeline project | <a href="https://boostsecurity.io">BoostSecurity.io</a></p>
                </div>
            </div>
        </footer>        
    </body>
</html>
